@import '../style/values.scss';

.reserve-wrapper {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #4888FE, #55C7F1);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    form {
        width: 50%;
        height: calc(100vh - 6rem);
        padding: 0 0 2rem 0;
        background-color: #fff;
        border-radius: 1rem 1rem 0 0;
        position: relative;
        @extend .flex;
        justify-content: flex-start;
        overflow: auto;
        scrollbar-width: none;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
        }

        .reserve-title {
            width: 85%;
            margin-top: 1rem;
            margin-bottom: 1.4rem;

            p {
                color: #4A4A4A;
                font-size: 20px;
                margin: 0;
                margin-bottom: 1.2rem;
            }

            span {
                color: #636363;
            }
        }

        .room-environment {
            width: 100%;
            height: auto;
            @extend .flex;
            justify-content: flex-start;

            .room-list {
                width: 85%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }

        .order-commit {
            width: 85%;
            height: auto;
            margin-top: 2rem;
            padding-top: 1rem;
            border-top: 1px solid #D1D1D1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .commit-msg {
                height: 100%;
                color: #0f294d;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .price span,
                .deposit span {
                    font-weight: bold;
                    margin-left: 0.2rem;
                }

                .price span {
                    color: #287DFA;
                    font-size: 24px;
                }

                .deposit span {
                    color: #287DFA;
                    font-size: 14px;
                }

                span {
                    color: #8592a6;
                    font-size: 12px;
                    margin-top: .5rem;
                }
            }

            input[type="submit"] {
                height: auto;
                padding: 16px 24px;
                line-height: 1.3;
                color: white;
                font-size: 16px;
                font-weight: 700;
                margin-left: 1rem;
                border-radius: 3px;
                background: #ff9500;

                &:hover {
                    background: #e58500;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    @media screen and (max-width: 768px) {
        & {
            align-items: flex-end;

            form {
                width: 100%;
                height: calc(100vh - 10rem);
                border-radius: 1rem 1rem 0 0;
                justify-content: flex-start;
            }
        }
    }
}